variables:
  VERSION: 1.0.4
  IMAGE_TAG: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_PIPELINE_ID

stages:
  - style
  - build
  - test

docker-lint:
  stage: style
  inherit:
    default: false
  image: hadolint/hadolint:latest-debian
  script:
    - hadolint Dockerfile | tee -a  server_docker_lint.txt
  artifacts:
    paths:
      - server_docker_lint.txt
    expire_in: 1 week

docker-build-master:
  inherit:
    default: false
  needs: []
  image: docker:latest
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE" .
    - docker push $CI_REGISTRY_IMAGE
    - docker tag $CI_REGISTRY_IMAGE $CI_REGISTRY_IMAGE:$VERSION
    - docker push $CI_REGISTRY_IMAGE:$VERSION
    - docker tag $CI_REGISTRY_IMAGE $IMAGE_TAG
    - docker push $IMAGE_TAG
  only:
    - master

docker-build-server:
  image: docker:latest
  needs: []
  inherit:
    default: false
  stage: build
  services:
    - docker:dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  except:
    - master